* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    list-style-type: none;
}
body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}
.header {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 43px;
}
.nav {
    display: inline-block;
}
.nav li {
    display: inline-block;
    color: white;
    padding: 12px 24px;
}
.nav>li>a {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
}
.fa-sharp {
    display: inline-flex;
}
.nav li:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}
.nav li:hover a {
    color: black;
}
.nav .drop-down {
    position: relative;
}
.nav .drop-down:hover .subnav {
    display: block;
}
.drop-down .subnav li {
    width: 100%;
}
.drop-down .subnav li a{
    text-decoration: none;
}
.subnav {
    background-color: white;
    position: absolute;
    top: 43px;
    left: 0px;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.search-button {
    float: right;
    color: white;
    line-height: 43px;
    width: 43px;
    text-align: center;
}
.search-button:hover {
    background-color: red;
}
.team-photo {
    background-image: url("../assets/img/grouphoto.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-color: #333;
    align-items: flex-end;
}
.description {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 2px 0 #333, -2px 0 #333, 0 2px #333, 0 -2px #333,
    1px 1px #333, -1px -1px #333, 1px -1px #333, -1px 1px #333;
}
.description>div {
    padding: 12px 24px;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}
.description .team-number {
    font-size: 2.5rem;
}
